@model HouseCareWeb.Models.nhanvien

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "QuanLyNhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="info-acc">
        <h2>Thông tin nhân viên</h2>
        <br />
        <div class="card-info">
            <img src="~/img/@Model.Img" />
            <div class="card-info--btn">
                <a href="#">Upload new photo</a>
                <a href="#">Reset</a>
                <p>Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
        </div>
        <hr />
        <div class="card-info">
            <form action="/" method="post">
                <div class="info-row">
                    <div class="info-col">
                        <label>Mã nhân viên</label>
                        <input type="text" name="Manhanvien" value="#@Model.Manhanvien" readonly/>
                    </div>
                    <div class="info-col">
                        <label>Họ và tên</label>
                        <input type="text" name="Hoten" value="@Model.Hoten" />
                    </div>
                    <div class="info-col">
                        <label>Giới tính</label>
                        <input type="text" name="Gioitinh" value="@Model.Gioitinh" />
                    </div>
                    <div class="info-col">
                        <label>Địa chỉ</label>
                        <input type="text" name="Diachi" value="@Model.Diachi" />
                    </div>
                    <div class="info-col">
                        <label>Quê quán</label>
                        <input type="text" name="Quequan" value="@Model.Quequan" />
                    </div>
                    <div class="info-col">
                        <label>Chức vụ</label>
                        <input type="text" name="Chucvu" value="@Model.Chucvu" />
                    </div>
                    <div class="info-col">
                        <label>Tuổi</label>
                        <input type="number" name="Tuoi" value="@Model.Tuoi" />
                    </div>
                    <div class="info-col">
                        <label>Ngày sinh</label>
                        <input type="date" name="Ngaysinh" value="@Model.Ngaysinh.Value.ToString("dd/MM/yyyy")"/>
                    </div>
                    <div class="info-col">
                        <label>CCCD/CMND</label>
                        <input type="text" name="CCCD" value="@Model.CCCD" />
                    </div>
                    <div class="info-col">
                        <label>Số điện thoại</label>
                        <input type="text" name="Sdt" value="@Model.Sdt" />
                    </div>
                    <div class="info-col">
                        <label>Email</label>
                        <input type="email" name="Email" value="@Model.Email" />
                    </div>
                    <div class="info-col">
                        <label>Mô tả</label>
                        <input type="text" name="Mota" value="@Model.Mota" />
                    </div>
                    <div class="info-col">
                        <label>Kinh nghiệm</label>
                        <input type="text" name="Kinhnghiem" value="@Model.Kinhnghiem" />
                    </div>
                    <div class="info-col">
                        <label>Hình ảnh</label>
                        <input type="file" name="Img" value="@Model.Img" />
                    </div>

                </div>
            </form>
        </div>
        <div class="btn-savechange">
            <button type="submit">Lưu</button>
        </div>
        
    </div>
}
<div class="btn-savechange">
    <a class="btn-admin" href="~/QuanLyNhanVien/"><button>Trở về</button></a>
</div>






    @*<div class="info-ser">
        @using (Html.BeginForm("Edit", "QuanLyNhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h2>Edit</h2>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Manhanvien)

                <div class="form-group">
                    @Html.LabelFor(model => model.Hoten, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Chucvu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Chucvu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Chucvu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input title="Upload a product img" type="file" name="Img" class="img-input" />
                        @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tuoi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tuoi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tuoi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sdt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Kinhnghiem, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kinhnghiem, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kinhnghiem, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>*@
